body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

.header h1 {
    text-align: center;
    font-size: 400%;
    margin-bottom: 0;
}

.header {
    /* height: 100vh; */
    padding: 0;
    margin: 0;
    /* margin-top: 10vh; */
    display: grid;
    height: 120vh;
    grid-template-areas:
        'header header header'
        'left main right';
    color: white;

    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;

    grid-template-rows: 25%;

    /* grid-template-columns: 33%; */
}


.header .name {
    grid-area: header;
}

.header h2 {
    /* text-align: center; */
    font-size: 180%;
    color: #d6f0fa;
}

.header .image {
    background-image: url(HemeaseCropped.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    height: 32vw;
    width: 35vw;
    /* width: 75vh; */
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    box-shadow: 0px 0px 10000px 100px rgba(44, 178, 231, 0.425);
    grid-area: main;
}

.header .leftBox {
    padding: 30px;
    grid-area: left;
    text-align: left;
}

.header .rightBox {
    padding: 30px;
    grid-area: right;
    text-align: right;
}

.section {
    height: 100vh;
}

.gray {
    background-color: #161617;
}

.black {
    background-color: black;
}

.navbar {
    margin-top: 0px;
    height: 5vh;
    position: sticky;
    background-color: rgb(0, 0, 0);
}

.navbar h1 
{
    margin: 0;
    margin-left: 10px;
    transform: translate(0%, 50%);
    font-size: 100%;
}